<form class="form-horizontal" name="expertForm">
    <div class="modal-header">
        <h3 class="modal-title">Dane Eksperta</h3>
    </div>
    <div class="modal-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input ng-model="newexpert.email" type="email" class="form-control" placeholder="email" name="name" required>
                    <div class="error" ng-show="(expertForm.name.$pristine || expertForm.name.$invalid)&&!notFound"> 
                        Wpisz poprawny adres email
                    </div>
                    <div class="error" ng-show="!expertForm.name.$pristine && notFound"> 
                        Nie ma uzytkownika o podany adresie email. Wpisz poprawny email.
                    </div>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="ok()" 
                ng-disabled="expertForm.name.$pristine || expertForm.name.$invalid 
                             || expertForm.surname.$pristine || expertForm.surname.$invalid">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>

</form>
